#box
  %form#secret_handler{ :action => "", :method => "", :onSubmit => "return decryptMessage(event);"}
    %textarea#secret_msg{ :name => "ta", :readonly => "readonly"}
      = @secret
    %p
    %input#secret_key{:type => "textbox", :name => "enc_key", :value => "provide a decryption key (optional)", :onFocus => "if (this.value == this.defaultValue) { this.value = ''; }", :onBlur => "if (this.value == '') {this.value = this.defaultValue;}"}
    %input#submit_button{:type => "submit", :value => "Decrypt Secret"}
- @secret_delete.call
